{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block desc %}{% endblock desc %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="page">
        <input type="text" value="" name="search" placeholder="Поиск...">
        {% block search %}

        {% endblock search %}
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>